.tag{
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    height: 30px;
}

.tag_content{
    margin: 0;
    padding-top: 3px;
    font-size: 20px;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width:900px) {
    .tag{
        width:100px;
    }
}