
.accomodation_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}


.accomodation_informations{
    width: 50%;
}

.accomodation_title{
    color: #FF6060;
    margin: 0;
}

.accomodation_location{
    color: #FF6060;
}

.accomodation_tags{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.accomodation_hostinformations{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.accomodation_host{
    display: flex;
    color: #FF6060;
    justify-content: right;
}


.accomodation_hostname1, .accomodation_hostname2 {
    margin: 0;
    text-align: right;
    color: #FF6060;
    font-size: 25px;
}

.accomodation_hostpicture{
    padding-left: 10px;
    border-radius: 50%;
    height: 70px;
}

.accomodation_rating {
    display: flex;
    padding-top: 10px;
    justify-content: right;
}

.accomodation_star{
    height: 30px;
    padding-left: 20px;
}

.collapse_list{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    height: auto;
}

.collapse_item{
    width: 49%;
}