header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 0 0px;
    width: 100%;
}

.header_Logo{
    padding-left: 100px;
}

@media screen and (max-width:900px) {

    .header_Logo{
        width: 20%;
        height: 50px;
        padding-left: 20px;
    }
} 
